.md{
    display: flex;
    flex-direction: row;
}
.tb{
    width: 200px;
    margin-top: 10px;
}
.payment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ai{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}